 .search-bar-container {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}


.search-bar {
  width: 100%;
  padding: 12px;
  border: 3px solid #ff4400;
  border-radius: 25px;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}


.search-bar:focus {
  border-color: #0056b3;
}

.autocomplete-suggestions {
  position: absolute;
  width: 100%;
  border: 1px solid #ed0808;
  border-radius: 5px;
  max-height: 300px;
  overflow-y: auto;
  margin-top: 20px;
  z-index: 9999;
}


.suggestion-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  font-size: 14px;
}

.suggestion-item:hover {
  background-color: #3d3535;
}

.country-details {
  margin-top: 10px;
} 

.country-details-card {
  
  text-align:start;
  margin-top: 20px;
  box-shadow: 0px 4px 10px rgba(223, 19, 19, 0.1);
  border-radius: 10px;
  transition: transform 0.2s ease;
}

.country-details-card:hover {
  transform: translateY(-5px);
}

.country-details {
  margin-top: 20px;
  text-align: center;
}

.country-details h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.country-details p {
  font-size: 18px;
  margin: 5px 0;
}
.country-1{
  text-align: center;
  color: #ef2a0c;
  font-weight: bold;
  margin: 0 ;
}
.card-2{
  background-color: #11060145;
}